.address-card {
    max-width: calc(calc(100% - 16px) / 3 );
    width: calc(calc(100% - 16px) / 3 );
    padding: 0;
}
.address--radio-button {
    display: flex;
    margin-bottom: 12px;
}

@media only screen and (max-width: 600px) {
    .address-card {
        max-width: 100%;
        width: 100%
    }
    .address--radio-button {
        justify-content: center;
    }
}