.checkout-container {
    display: flex;
    gap: 12px;
    padding: 12px;
    overflow: hidden;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
}

.checkout-container--billing-detail {
    flex: 1;
}

.checkout-container--cart {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .checkout-container--cart {
        width: 100%;
    }
    .checkout-container--billing-detail {
        width: 100%;
        margin-bottom: 8px;
    }
    .checkout-container {
        height: calc(100vh - var(--header-height) - 72px);
        display: block;
        overflow: auto;
    }
}