:root {
  --header-height: 80px;
  --grey50 :#F3F3F7;
  --grey100:#DFE1E8;
  --grey200:#D8DAE0;
  --grey300:#BFC1C7;
  --grey400:#ABADB3;
  --grey500:#9D9EA3;
  --grey600:#898A8F;
  --grey700:#5C5C5E;
  --grey800:#2C2C2E;
  --grey900:#0C0C0D;
}

body {
  background-color: var(--grey200);
}

.brandLogo {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 36px;
  padding: 0;
}
.header{
  min-height: var(--header-height);
}

#responsive-navbar-nav {
  justify-content: flex-end;
  gap: 8px;
}

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.header a {
  color: unset;
  text-decoration: none;
}
*::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

.text-danger {
  color: #ff0000;
}

@media only screen and (max-width: 800px){
  .home-container {
    padding: 12px 0;
  }
}
@media only screen and (max-width: 600px){
  .navbar-collapse.show {
    display: flex;
    width: 100%;
  }
  .search-container {
    padding: 12px 0;
    flex: 1;
  }
  .cart-dropdown button,.search-form {
    height: 48px;
  }
  .search-form .search-input {
    height: 100%;
    margin: 0;
  }
  .home-container {
    padding: 0;
  }
}