.billing--body {
    height: calc(100% - 41px);
}
.Billing--container {
    flex: 1;
}
.billing--title button{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.billing--title {
    padding: 8px 16px;
    background: white;
    border-radius: 4px!important;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.billing--address_list {
    margin: 0;
    gap: 8px;
}
@media only screen and (max-width: 600px) {
    .billing--address_list {
        flex-wrap: nowrap;
        overflow: auto;
        max-width: 100%;
    }
    .billing-address-slider {
        padding: 0;
    }
    .billing-address-slider .carousel-indicators {
        margin-bottom: 0;
    }
    .billing-address-slider .carousel-indicators [data-bs-target] {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #198754;
    }
}